@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.header {
  width: 100%;
  height: 83px;
  background: #323232;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .center-content-header {
    padding: 0 20px 0 20px;
    width: 90%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .center-content-header .title-nav {
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px; }
    .header .center-content-header .navbar-menu {
      display: flex;
      height: 100%; }
      .header .center-content-header .navbar-menu .item-nav-menu {
        position: relative;
        height: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: white;
        text-decoration: none;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
        .header .center-content-header .navbar-menu .item-nav-menu:not(:first-child) {
          margin-left: 50px; }
        .header .center-content-header .navbar-menu .item-nav-menu::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          height: 8px;
          width: 0%;
          background-color: #39af88;
          transition: all 0.5s; }
        .header .center-content-header .navbar-menu .item-nav-menu:hover::after {
          width: 100%;
          transition: all 0.5s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white; }
  .wrapper .center-content {
    width: 90vw;
    max-width: 1920px;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wrapper .center-content .container-form {
      border-radius: 5px;
      width: 90%;
      max-width: 350px;
      padding: 15px;
      background-color: white; }
